<!-- Custom styles for this template -->
<link href="../../conn/css/simple-sidebar.css" rel="stylesheet">


<div class="bg-light border-right" id="sidebar-wrapper" style="width: 20%">
<div class="list-group list-group-flush">
  <a href="#" class="list-group-item list-group-item-action bg-light">
    Overview
  </a>
  <a href="#" class="list-group-item list-group-item-action bg-light">
    Activity
  </a>
  <a href="/members" class="list-group-item list-group-item-action bg-light">
    Members
  </a>
  <a href="/issues" class="list-group-item list-group-item-action bg-light">
    Issues
  </a>
</div>
</div>